<div class="tips">
  <h1>Safety Tips</h1>
  <p>{@emojis}</p>
  <ol>
    <%= for tip <- @tips do %>
      <li>
        <a href={"/tips/#{tip.id}"}>
          {tip.text}
        </a>
      </li>
    <% end %>
  </ol>
</div>
